@use "../../../assets/styles/" as *;

.SplashScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  .image_container {
    width: 61px;
    height: 64px;
    // border: solid 1px red;
    transition: all ease 1s;

    .image_style {
      transition: all ease 1s;
    }
  }
}
