@use "../../../assets/styles/" as *;

.ProjectsControls {
  width: 100%;
  padding: 64px 120px;

  @include md() {
    padding: 40px pixRem(72);
  }
  @include sm() {
    padding: 40px 24px 28px 24px;
  }

  .dropdown_container {
    width: 160px;

    @include sm() {
      width: 100%;
    }
  }
}
