@use "../../../assets/styles/" as *;

.ProjectsHeader {
  display: flex;
  width: 100%;
  height: 272px;
  align-items: center;
  justify-content: center;

  position: relative;

  @include md() {
    height: 182px;
  }
  @include sm() {
    height: 100px;
  }

  .background_image {
    width: 100%;
    height: 272px;

    position: absolute;
    top: 0;
    left: 0;

    @include md() {
      height: 182px;
    }
    @include sm() {
      height: 100px;
    }
  }

  .project_header {
    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px; /* 166.667% */
    letter-spacing: -1.08px;
    background: none;
    text-transform: uppercase;
    z-index: 10;

    @include md() {
      font-size: 22px;
    }
    @include sm() {
      font-size: 18px;
    }
  }
}
