@use "../../../assets/styles/" as *;

.ProjectsHeader {
  display: flex;
  width: 100%;
  height: 272px;
  align-items: center;
  justify-content: center;

  background-image: url("../images/projects_header_bg.png");
  background-size: cover;
  background-position: center;

  @include md() {
  }
  @include sm() {
    height: 100px;
  }

  .project_header {
    color: #fff;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 90px; /* 166.667% */
    letter-spacing: -1.08px;
    background: none;
    text-transform: uppercase;

    @include sm() {
      font-size: 18px;
    }
  }
}
